body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
}

header li {
    display: inline-block;
    padding-left: 10px;
    list-style: none;
}
 header a {
    text-decoration: none;
    color: black;
 }

 header a:hover {
    color: blue;
 }

 /* Hero Section */
 
 .hero-section {
    display: flex;
    align-items: center;
    height: 560px;
    padding: 15px;
    background: url(https://images.pexels.com/photos/50711/board-electronics-computer-data-processing-50711.jpeg?auto=compress&cs=tinysrgb&w=600) rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
    z-index: -5;
 }  

 .hero-section h1 {
    text-align: center;
    width: 50%;
    border: 1px solid red;
 }

 /* About Me Section dd*/
